In [7]:
# Combine reviews with businesses
import pandas as pd

yelp_reviews = pd.read_csv('../data/original_sources/YelpReview.csv', header=0)
yelp_businesses = pd.read_csv('../data/clean_yelp_restaurants.csv', header=0)

In [8]:
yelp_businesses.head(2)

,Unnamed: 0,business_id,categories,name,review_count,stars,address,city,state,postal_code,latitude,longitude
0,1,QXAEGFB4oINsVuTFxEYKFQ,SPECIALTY FOOD RESTAURANTS DIM SUM IMPORTED...,EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289
1,2,gnKjwL_1w79qoiV3IC_xQQ,SUSHI BARS RESTAURANTS JAPANESE,MUSASHI JAPANESE RESTAURANT,170,4.0,"10110 JOHNSTON RD, STE 15",CHARLOTTE,NC,28210,35.092564,-80.859132

In [9]:
# Yelp Business and Review Data
yelp_businesses = yelp_businesses.drop_duplicates(subset=['business_id'])
yelp_businesses['categories'] = yelp_businesses['categories'].str.replace(',', ' ')

In [10]:
yelp_reviews = yelp_reviews[['business_id', 'text']]
yelp_reviews['review_text'] = yelp_reviews['text'].str.replace(',', ' ').replace('[', '').replace(']', '')

In [11]:
yelp_reviews = yelp_reviews.groupby('business_id')['review_text'].apply(list).to_frame().reset_index()
yelp_reviews.head(2)

              business_id                                        review_text
0  --1UhMGODdWsrMastO9DZw  [If you are looking for authentic Mexican stre...
1  --6MefnULPED_I942VcFNA  [They have the best Chinese BBQ Pork (Char Siu...

In [12]:
# merge restaurants with their reviews
restaurants_and_reviews = yelp_businesses.merge(yelp_reviews, left_on='business_id', right_on='business_id',
                                                how='inner', suffixes=['_biz', '_test'])
restaurants_and_reviews.head(5)

,Unnamed: 0,business_id,categories,name,review_count,stars,address,city,state,postal_code,latitude,longitude,review_text
0,1,QXAEGFB4oINsVuTFxEYKFQ,SPECIALTY FOOD RESTAURANTS DIM SUM IMPORTED...,EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289,[My girlfriend and I went for dinner at Emeral...
1,2,gnKjwL_1w79qoiV3IC_xQQ,SUSHI BARS RESTAURANTS JAPANESE,MUSASHI JAPANESE RESTAURANT,170,4.0,"10110 JOHNSTON RD, STE 15",CHARLOTTE,NC,28210,35.092564,-80.859132,[Husband was craving Chicken Teriyaki & gyoza ...
2,11,1Dfx3zM-rW4n-31KeC8sJg,RESTAURANTS BREAKFAST & BRUNCH MEXICAN TACO...,TACO BELL,18,3.0,2450 E INDIAN SCHOOL RD,PHOENIX,AZ,85016,33.495194,-112.028588,[I mean it's Taco Bell so it is what it is. H...
3,12,5t3KVdMnFgAYmSl1wYLhmA,BARS NIGHTLIFE PUBS BARBERS BEAUTY & SPAS ...,THE KILTED BUFFALO LANGTREE,9,3.5,"119 LANDINGS DR, STE 101",MOORESVILLE,NC,28117,35.527410,-80.868003,[WooHoo why wasn't this place here when I liv...
4,13,fweCYi8FmbJXHCqLnwuk8w,ITALIAN RESTAURANTS PIZZA CHICKEN WINGS,MARCO'S PIZZA,16,4.0,5981 ANDREWS RD,MENTOR-ON-THE-LAKE,OH,44060,41.708520,-81.359556,[Hands down this is the best pizza place in M...

In [13]:
restaurants_and_reviews.to_csv('../data/big_restaurants_and_reviews.csv', index=False)
small_businesses_and_reviews = restaurants_and_reviews.head(5000)
small_businesses_and_reviews.to_csv('../data/small_restaurants_and_reviews.csv', index=False)